#head1{ /*For left sided headings*/
    font-size: 40px;
    color: #2a74db ;
    font-weight: 500;
}
#head2{ /*For centered headings*/
    font-size: 50px;
    color: #2a74db ;
    font-weight: 500;
    text-align: center;
}
/*For slider card caousel type 2 */
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  /*For footer*/
  .footer {
    font-size: 17px;
    background-color: #1f1f24;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  .topic1{
    padding-left: 48px;
    color: white;
  }
  
  
  .topic2{
    padding-left: 48px;
    color: white;
  }
  
  #footer-h2{
    padding-left: 48px;
    color: white;
  }
  
  
  .footer-h5{
    color: white;
    text-align: left;
    margin-left: -60px;
  }
  
  .footer-a1{
    color: white;
  }
  
  .footer-a2{
    color: white;
  }
  
  .spn{
    float: right;
    color: white;
    position: absolute;
    padding-top: 180px;
    padding-left: 141px;
  }
  
  .clm-1 {
    float: left;
    width: 29%;
    margin-left: 17%;
    text-align: left;
  }
  
  
  .clm-2 {
    float: left;
    width: 29%;
    margin-right: 17%;
    text-align: left;
  
  }
  
  .clm-3 {
    float: left;
    text-align: left;
    width: 29%;
    margin-left: 17%;
    padding-top: 25px;
  }
  
  
  .clm-4 {
    float: left;
    text-align: left;
    width: 29%;
    margin-right: 17%;
    padding-top: 25px;
  }
  
  #button-lang{
    background-color: #1f1f24;
    border-width: 0.5px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
   
  }
  
  #btn-lang{
    padding-left: 139px;
    border-color: white;
  }
  
  #btn-tech{
    background-color: #1f1f24;
    border-width: 0.5px;
    border-color: white;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .div2{
    padding-left: 755px;
    border-color: white;
  }
  
  .section-2 {
    background-color: #DAE0EC;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .image {
    display: inline-block;
    vertical-align: top;
    width: 200px;
  }
  
  .text {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 125px;
    margin-top: -151px;
    margin-bottom: -10rem;
  }
  
  
  
  .spn-1{
    float: left;
    color: white;
    position: absolute;
    padding-top: 33px;
  }
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #ec2727;
    text-decoration: none;
  }